<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CnxSQL" connectionString="Data Source=DESKTOP-86IHTNB\SQLEXPRESS;Initial Catalog=SIIVA;Integrated Security=True" />
		<!--<add name="CnxSQL" connectionString="Data Source=CLOUDX;Initial Catalog=SIIVA;Integrated Security=True" />-->
	</connectionStrings>
</configuration>